table{margin:10px 0!important;width:100%;font-family:verdana,arial,sans-serif;font-size:13px;color:#333;border-width:1px;border-color:#666;border-collapse:collapse}
table.tab-table tr th{text-align:left}
table tr th{border-width:1px;padding:8px;border-style:solid;border-color:#666;background-color:#dedede}
table tr td{border-width:1px;padding:8px;border-style:solid;border-color:#666;background-color:#fff}


.nav-tab{cursor: pointer;}


table{text-align:left;}
.lacc_colorpicker {
    clear: both;
    display: inline-block;
    width: auto;
}
	
.iris-picker {
	display: inline-block;
	margin: 10px;
}
	
	
	
.box_container {
    background: none repeat scroll 0 0 white;
    border: 1px solid #cecece;
    border-radius: 5px;
    box-shadow: 0 0 2px #ccc;
    display: inline-block;
    padding: 5px;
    text-align: center;
	margin:10px;
}
	
.boxheading {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
}
.boxheading h3 {
    margin: 5px 0 10px;
}
	
.box_container .inputbox {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 5px;
    padding-bottom: 10px;
}	










.colorSchema {
    padding: 1px; 
    width: auto;
}
div.colorSchema .colorBox {
    display: inline-block;
    height: 20px;
    margin: 0 -1px;
    width: 30px;
}
 

.loading_container {
    display: inline-block;
    width: 100%;
    text-align: center;
	margin:10px 0 ;

}

.bubble {
  animation: expand .75s ease-in-out infinite;
  border-radius: 20px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 6px;
  width: 20px;
  height: 20px;
}

.bubble:nth-child(1) {
  background: #27ae60;
}

.bubble:nth-child(2) {
  animation-delay: 180ms;
  background: #f1c40f;
}

.bubble:nth-child(3) {
  animation-delay: 360ms;
  background: #e67e22;
}

.bubble:nth-child(4) {
  animation-delay: 540ms;
  background: #2980b9;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.55);
  }
}