 $text-color: null;
$base-color: #044370;
$icon-color: null;
$highlight-color: null;
$notification-color: null;
$body-background: #edebed;
$link: #0d6794;
$link-focus: #008bd1;
$action-color: null;
$button-color: #065c91;
$form-checked: #045f8c;
$menu-text: null;
$menu-icon: #84c3e3;
$menu-background: null;
$menu-highlight-text: #ffffff;
$menu-highlight-icon: #249ad1;
$menu-highlight-background: #023e63;
$menu-current-text: #cbe6f2;
$menu-current-icon: #276b8c;
$menu-current-background: #00a6d4;
$menu-submenu-text: null;
$menu-submenu-background: #054375;
$menu-submenu-background-alt: null;
$menu-submenu-focus-text: #789cbf;
$menu-submenu-current-text: #24aed4;
$menu-bubble-text: null;
$menu-bubble-background: #005da8;
$menu-bubble-current-text: null;
$menu-bubble-current-background: null;
$menu-collapse-text: null;
$menu-collapse-icon: null;
$menu-collapse-focus-text: null;
$menu-collapse-focus-icon: null;
$adminbar-avatar-frame: null;
$adminbar-input-background: null;
$menu-customizer-text: null;
