 $text-color: null;
$base-color: #03821e;
$icon-color: null;
$highlight-color: null;
$notification-color: null;
$body-background: #ebe8eb;
$link: null;
$link-focus: null;
$action-color: null;
$button-color: #0c6e31;
$form-checked: null;
$menu-text: null;
$menu-icon: null;
$menu-background: null;
$menu-highlight-text: null;
$menu-highlight-icon: #01210d;
$menu-highlight-background: #03401a;
$menu-current-text: null;
$menu-current-icon: #095e30;
$menu-current-background: #03a843;
$menu-submenu-text: #7cdea8;
$menu-submenu-background: #065e2e;
$menu-submenu-background-alt: null;
$menu-submenu-focus-text: #edfaf3;
$menu-submenu-current-text: #c7c7c7;
$menu-bubble-text: null;
$menu-bubble-background: #056e34;
$menu-bubble-current-text: null;
$menu-bubble-current-background: null;
$menu-collapse-text: null;
$menu-collapse-icon: null;
$menu-collapse-focus-text: null;
$menu-collapse-focus-icon: null;
$adminbar-avatar-frame: null;
$adminbar-input-background: null;
$menu-customizer-text: null;
