 $text-color: null;
$base-color: #1c141c;
$icon-color: null;
$highlight-color: null;
$notification-color: null;
$body-background: null;
$link: null;
$link-focus: null;
$action-color: null;
$button-color: #7a2602;
$form-checked: null;
$menu-text: null;
$menu-icon: null;
$menu-background: null;
$menu-highlight-text: #bababa;
$menu-highlight-icon: #541d05;
$menu-highlight-background: #912c00;
$menu-current-text: #ffffff;
$menu-current-icon: #ffffff;
$menu-current-background: #5e1e02;
$menu-submenu-text: null;
$menu-submenu-background: null;
$menu-submenu-background-alt: null;
$menu-submenu-focus-text: null;
$menu-submenu-current-text: null;
$menu-bubble-text: null;
$menu-bubble-background: null;
$menu-bubble-current-text: null;
$menu-bubble-current-background: null;
$menu-collapse-text: null;
$menu-collapse-icon: null;
$menu-collapse-focus-text: null;
$menu-collapse-focus-icon: null;
$adminbar-avatar-frame: null;
$adminbar-input-background: null;
$menu-customizer-text: null;
