 $text-color: null;
$base-color: #3b3b3b;
$icon-color: null;
$highlight-color: null;
$notification-color: null;
$body-background: #f0f0f0;
$link: null;
$link-focus: null;
$action-color: null;
$button-color: #303030;
$form-checked: null;
$menu-text: null;
$menu-icon: null;
$menu-background: #363536;
$menu-highlight-text: #807e80;
$menu-highlight-icon: #8a8a8a;
$menu-highlight-background: #1c1b1c;
$menu-current-text: #ffffff;
$menu-current-icon: #d4d4d4;
$menu-current-background: #141414;
$menu-submenu-text: #ffffff;
$menu-submenu-background: null;
$menu-submenu-background-alt: null;
$menu-submenu-focus-text: #b5b5b5;
$menu-submenu-current-text: #808080;
$menu-bubble-text: #ffffff;
$menu-bubble-background: #525252;
$menu-bubble-current-text: null;
$menu-bubble-current-background: null;
$menu-collapse-text: null;
$menu-collapse-icon: null;
$menu-collapse-focus-text: null;
$menu-collapse-focus-icon: null;
$adminbar-avatar-frame: null;
$adminbar-input-background: null;
$menu-customizer-text: null;
