 $text-color: null;
$base-color: #ba2d2d;
$icon-color: null;
$highlight-color: null;
$notification-color: null;
$body-background: #ebe8eb;
$link: null;
$link-focus: null;
$action-color: null;
$button-color: #de1829;
$form-checked: null;
$menu-text: null;
$menu-icon: null;
$menu-background: null;
$menu-highlight-text: #e3a8ad;
$menu-highlight-icon: #780a13;
$menu-highlight-background: #a3000e;
$menu-current-text: #ebced1;
$menu-current-icon: #ba9b9d;
$menu-current-background: #5e020a;
$menu-submenu-text: #bababa;
$menu-submenu-background: null;
$menu-submenu-background-alt: null;
$menu-submenu-focus-text: #f5f0f0;
$menu-submenu-current-text: #dedede;
$menu-bubble-text: null;
$menu-bubble-background: #b00c0c;
$menu-bubble-current-text: null;
$menu-bubble-current-background: null;
$menu-collapse-text: null;
$menu-collapse-icon: null;
$menu-collapse-focus-text: null;
$menu-collapse-focus-icon: null;
$adminbar-avatar-frame: null;
$adminbar-input-background: null;
$menu-customizer-text: null;
