 $text-color: null;
$base-color: #c7325c;
$icon-color: null;
$highlight-color: null;
$notification-color: null;
$body-background: #edebec;
$link: #a80c38;
$link-focus: #e80948;
$action-color: null;
$button-color: #d9184e;
$form-checked: null;
$menu-text: null;
$menu-icon: null;
$menu-background: null;
$menu-highlight-text: null;
$menu-highlight-icon: #c25775;
$menu-highlight-background: #7d1b39;
$menu-current-text: null;
$menu-current-icon: #ffadc5;
$menu-current-background: #700a27;
$menu-submenu-text: null;
$menu-submenu-background: null;
$menu-submenu-background-alt: null;
$menu-submenu-focus-text: #ffffff;
$menu-submenu-current-text: null;
$menu-bubble-text: null;
$menu-bubble-background: #630422;
$menu-bubble-current-text: null;
$menu-bubble-current-background: null;
$menu-collapse-text: null;
$menu-collapse-icon: null;
$menu-collapse-focus-text: null;
$menu-collapse-focus-icon: null;
$adminbar-avatar-frame: null;
$adminbar-input-background: null;
$menu-customizer-text: null;
